.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-row-gap: 30px;
    justify-items: center;
}
.heading-1 {
    font-weight: 800;
    font-size: 100px;
    text-align: center;
    margin-bottom: 20px;
    grid-row: 1 / 2;
}

.search {
    text-align: center;
    grid-row: 2 / 3;
    border-radius: 20px;
    width: 500px;
    padding: 10px;
    background: white;
    
}

.search:focus {
    outline: none;
}
.btn {
    display: flex;
    grid-row: 3 / 4;
    justify-content: center;
    width: 500px;
}

button {
    padding: 10px;
    border-radius: 2px;
    border: 0;
    margin-right: 10px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    border: 1px solid rgb(192, 181, 181);
}

.red {
    color: red;
}

.blue {
    color: rgb(50, 114, 209);
}

.orange {
    color: orange;
}

.green {
    color: green;
}




